#hero-details {
    position: relative;
    display: block;
    width: 980px;
    margin: 90px auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
    padding: 20px;
    box-shadow: 0px 0px 20px 40px
}

#hero-details>h1 {
    color: #fff;
    font-family: "Agency FB";
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}

.info-section {
    position: relative;
    width: 100%;
    height: 386px;
    z-index: 2;
    border-radius: 10px;
    background-color: #778e9c;
}

.hero-header {
    position: relative;
    
    height: 40%;
}

.hero-header>h1 {
    color: rgb(0, 0, 0);
    margin-top: 55px;
    font-size: 36px;
    font-weight: 400;
}

.hero-header>h4 {
    color: #555;
    font-size: 23px;
    font-weight: 400;
}

.levels {
    display: inline-block;
    margin-top: 15px;
    color: #555;
    padding: 7px;
    border-radius: 5px;
    background-color: #b4b6ee;
    border: 1px solid rgba(218, 181, 181, 0.829);
}

.type {
    display: inline-block;
    color: #959595;
    font-size: 19px;
    margin-left: 10px;
}

.hero-img {
    position: relative;
    float: left;
    margin-left: 55px;
    margin-right: 22px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.text {
    font-size: 25px;
    color: #545454;
}

.movie_social {
    height: 10%;
    padding-left: 15px;
    
}

.movie_social {
    font-size: 1.6rem;
    padding-top: 20px;
    text-align: center;
}

.buttons {
    height: 10%;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 40px;
}

.button {
    height: 15%;
    background-color: #778e9c;
    padding: 14px;
    margin-top: auto;
    font-size: 21px;
    color: rgb(0, 0, 0);
    border-radius: 30px;
}

.button:hover {
    background-color: #2b299c;
    color: #000;
}

.add-comment {
    color: aliceblue
}

.comments-type {
    color: #000;
}

.type {
    color: #000;
}

.text {
    color: #000;
}

.textarea {
    min-height: 1em;
}

.placeholderName {
    text-shadow: 0 0 black;
    background-color: #778e9c;
}


