.container-paladin {
    display:flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .column-paladin {
    padding: 30px;
    background-color: #0a0a0a33;
  }
  .paladin-class {
    text-align: center;
    background-color: rgb(8, 8, 8);
  }