#register-page {
    position: relative;
    width: 650px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
}

.register-bar{
    background-image: url(../../images/illidan\ and\ malfurion.jpg);
    background-position: center;
    background-size: 140%;
    overflow: hidden;
    padding: 320px;
    height: auto;
    width: auto;
}
