.container-rogue {
    display:flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .column-rogue {
    padding: 30px;
    background-color: #0a0a0a33;
  }

  .rogue-specialization {
    text-align: center;
    background-color: rgb(8, 8, 8);
  }

  .rogue-classInfo {
    text-align: center;
    background-color: rgb(8, 8, 8);
  }

  .rogue-classInfo {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .rogue-info {
    padding: 30px;
    margin-bottom: none;
    background-color: grey;
  }
  
