.container-mage {
    display:flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: grey;
  }
  
  .column-mage {
    padding: 30px;
    background-color: #0a0a0a33;
  }

  .mage-specialization {
    text-align: center;
    background-color: rgb(8, 8, 8);
  }

  .mage-classInfo {
    text-align: center;
    background-color: rgb(8, 8, 8);
  }

  .mage-classInfo {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .mage-info {
    padding: 30px;
    margin-bottom: none;
    background-color: grey;
  }
  
